{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Add transaction {% endblock %}</h1>

    <!-- Form -->
    <form action="/api/add" method="POST">
        <div class="form-group">
            <label for="sender"><h4>Sender</h4></label>
            <input type="text" class="form-control" name="sender" id="sender" value="">
        </div>
        <div class="form-group">
            <label for="receiver"><h4>Receiver</h4></label>
            <input type="text" class="form-control" name="receiver" id="receiver" value="">
        </div>
        <div class="form-group">
            <label for="money"><h4>Money</h4></label>
            <input type="number" step="0.000001" class="form-control" name="money" id="money" value="">
            <small id="numberHelp" class="form-text text-muted">Be careful not to end up on the straw.</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Transaction</button>
        </div>
    </form>
{% endblock %}
