{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Transactions list {% endblock %}</h1>

    <table class="table table-striped table-dark">
        <thead> <!-- En-tête du tableau -->
        <tr>
            <td><b>id</b></td>
            <td><b>sender</b></td>
            <td><b>receiver</b></td>
            <td><b>time_transaction</b></td>
            <td><b>money</b></td>
        </tr>
        </thead>

                {% for json in jsonfile %}
                    <tbody> <!-- Corps du tableau -->
                    <tr>
                        <td>{{ json["id"] }}</td>
                        <td>{{ json["sender"] }}</td>
                        <td>{{ json["receiver"] }}</td>
                        <td>{{ json["time_transaction"] }}</td>
                        <td>{{ json["money"] }} €</td>
                    </tr>
                    </tbody>

                {% endfor %}
            </table>

{% endblock %}